.context-container {
    height: 27px;
    width:auto;
    padding: 0px 3px;
    margin: 1px 3px;
    font-weight: 500;
    font-size: large;
    text-align: center;
     background-color:#4984e9;
    color:#1a1b1f;
    cursor: pointer;
    
}