
.side-panel {
    position: absolute;
    top: 107px;
    width: 600px;
    height:100vh;
    right:0px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    background-color: rgb(243, 245, 246);
    transition: ease-in-out 500ms;
    z-index: 10;
}
.hide-side-panel {
    position: absolute;
    top: 107px;
    padding-top: 3px;
    padding-left: 3px;
    width: 600px;
    right: -550px;
    height: 100vh;
    outline: none;
    background-color: #13191B;
    z-index: 10;
}