
.side-panel {
    position: absolute;
    width: 600px;
    height: 300px;
    right:0px;
}
.hide-side-panel {
    position: absolute;
    width: 600px;
    height: 300px;
    right: -999px;
    background-color: blueviolet;
}