.context-menu {
    position: fixed;
    border: 1px solid grey;
    background-color: #fff;
}
.context-menu__item {
   padding: 4px;
}
.context-menu .context-menu__item:not(:first-child) {
   border-top: 1px solid grey;
}
.context-menu .context-menu__item:hover {
  background-color: #4984E9;
  cursor: pointer;
}
.cntx-close-btn {
  
}