.switcher-main-container {
    display: flex;
}
.switcher-container {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.switcher-item-container{
  
    width: auto;
    background-color:#303C54;

}
.switcher-item {
    padding:0;
}
.switcher-item-container + .switcher-item {
    margin-left:15px;
}
.switcher-info-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height:36px;
    width:200px;
    padding:3px 5px;
    color:#fff;
    background-color:#46546C;
}
.switcher-info-name:hover {
    background-color:rgba(0,0,0,0.2);
}
.switcher-info-hostler{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height:36px;
    width:50px;
    color:#fff;
}
.current-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height:36px;
    width:100px;
    color:#fff;

    background-color:#46546C;
}