
* {
  font-family:  'Poppins', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.driver-accordion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
  background-color:#ffffff;
}
.driver-accordion__container {
  display: flex;
  flex-direction: column;
 

} 
.shift-container {
  display: flex;
  background-color: #ffffff;
  color:#ffffff;
  height: 36px;
  margin: 1px;
  padding: 0px 10px 0px 0px;
  border-bottom: 1px solid;
   border-bottom-color: #e6e9ef;
   cursor: pointer;
  
}
.shift-container:hover .shift-container__caret{
  display: flex;
  background-color: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: visible;
  
}
.shift-container__caret {
  display: flex;
  background-color: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 36px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: hidden;
}
.shift-container__caret-icon {
  color:#323338;
  background-color:#E6E9EF;
  border-radius: 3px;
  width:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.shift-container__shift {
  display: flex;
  position: absolute;
  left: 39px;
  height: 36px;
  border-bottom: 1px solid #e6e9ef;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 70px;
  padding-left: 8px;
  z-index: 10;
  text-align: center;
}
.shift-container__subItems {
  display: flex;
  height: 36px;
  border-bottom: 1px solid #e6e9ef;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 36px;
  margin-left: 48px;
  text-align: center;
  z-index: 12;
}


.shift-container__checkbox-container {
  background-color: #66CCFF;
  width:32px;
  height:36px;
  border-bottom: 1px solid #e6e9ef;
}
.shift-container__shift:hover {
  transform: translateX(24px);
  transition: 0.1s;
  -webkit-transform: translateX(24px);
  -moz-transform: translateX(24px);
  -ms-transform: translateX(24px);
  -o-transform: translateX(24px);
  -webkit-transition: 0.1s ;
  -moz-transition: 0.1s ;
  -ms-transition: 0.1s ;
  -o-transition: 0.1s ;
}
.shift-container__checkbox input{
  display: flex;
  position: absolute;
  left: 40px;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shift-container__checkbox-item {
  position: absolute;
  left:0px;
  width: 14px;
  height: 14px;
  background-color: red;
}
.shift-container__driver-id {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 36px;
  width: 100%;
  margin:1px 1px 1px 50px;
  background-color: aqua;
}
.shift-container__checkbox {

  
}
.shift-container__driver-shift {
  left: 1px;
}






