
* {
  font-family:  'Poppins', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.driver-accordion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
  background-color:#ffffff;
}
.driver-accordion__container {
  display: flex;
  flex-direction: column;
 

} 
.shift-container {
  display: flex;
  background-color: #ffffff;
  color:#ffffff;
  height: 36px;
  margin: 1px;
  padding: 0px 10px 0px 0px;
  border-bottom: 1px solid;
   border-bottom-color: #e6e9ef;
   cursor: pointer;
  
}
.shift-container:hover .shift-container__caret{
  display: flex;
  background-color: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: visible;
  
}
.shift-container__caret {
  display: flex;
  background-color: #ffffff;
  width: 30px;
  max-width: 30px;
  height: 36px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: hidden;
}
.shift-container__caret-icon {
  color:#323338;
  background-color:#E6E9EF;
  border-radius: 3px;
  width:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.shift-container__shift {
  display: flex;
  position: absolute;
  left: 39px;
  height: 36px;
  border-bottom: 1px solid #e6e9ef;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 70px;
  padding-left: 8px;
  z-index: 10;
  text-align: center;
}
.shift-container__subItems {
  display: flex;
  height: 36px;
  border-bottom: 1px solid #e6e9ef;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 36px;
  margin-left: 48px;
  text-align: center;
  z-index: 12;
}


.shift-container__checkbox-container {
  background-color: #66CCFF;
  width:32px;
  height:36px;
  border-bottom: 1px solid #e6e9ef;
}
.shift-container__shift:hover {
  transform: translateX(24px);
  transition: 0.3s;
  -webkit-transform: translateX(24px);
  -moz-transform: translateX(24px);
  -ms-transform: translateX(24px);
  -o-transform: translateX(24px);
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  -ms-transition: 0.3s ;
  -o-transition: 0.3s ;
}
.shift-container__checkbox input{
  display: flex;
  position: absolute;
  left: 40px;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shift-container__checkbox-item {
  position: absolute;
  left:0px;
  width: 14px;
  height: 14px;
  background-color: red;
}


.driver-accordion__label {
  display: flex;
  height: 46px;
  font-size: large;
  font-weight:bold;
  color:rgb(10, 10, 10);
}
.h3-label {
  width:424px;
  margin:1px;
  padding-top:12px;
  padding-left:10px;
}
.h5-label {
  width:102px;
  padding-top:18px;
  padding-left:10px;
}
.subitems {
  height: 46px;
  width:76px;
}
.driver-accordion__content {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
    height: 46px;
    width:100%;
    border-radius: 5px;
    padding:1px 20px;
    margin: 5px;
    padding-right: 20px;
    text-align: Left;
    color:white;
    overflow:auto;
    white-space: nowrap;
    -webkit-box-shadow: 0px 4px 11px 2px rgba(79,79,79,0.74); 
box-shadow: 0px 4px 11px 2px rgba(79,79,79,0.74);
}
.driver-info {
  display: flex;
  width:400px;
  padding:3px 15px;
  font-size: x-large;
  margin: 0 1px;
  color: #13191b;
  background-color: #ffffff;
}
.driver-info-content {
  display: flex;
  width:400px;
  padding:3px 15px;
  font-size: x-large;
  margin: 0 1px;
  color: #13191b;
  background-color: #ffffff;
}
.driver-info-speech {
  display: flex;
  width:400px;
  justify-content: flex-end;
  color: #13191b;
  background-color:#ffffff;
}
.driver-subItem {
 display: flex;
  color: #13191b;
  background-color:#ffffff;
  margin: 0 1px;
  width:76px;
  padding: 2px 10px;
  
}
.driver-subItem-icon-items {
  background-color: rgb(230, 221, 146);
  height: 18px;
  width:18px;
  border-radius: 50%;
  text-align: center;
}
.driver-subItem-icon {
  position: relative;
  background-color: transparent;
  align-items: center;
  padding-left:0px;
}

.driver-status {
  position: relative;
  color: #13191b;
  background-color: #ffffff;
  margin: 0 1px;
  width:100px;
  padding: 2px 30px;
  
}
i {
  font-size: xx-large;
}

.driver-accordion__content:hover {
  background-color: #f0e9e9;
  
}
/* .driver-load-container {
  position: absolute;
  transform: translateX(-200%);
  display: block;
  background-color:#3C4B64;

} */
.driver-accordion__loads {
  padding: 3px 20px;
  background-color:#ffffff;
}
.driver-accordion__label {
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;

}

.driver-accordion__label:hover {
  background: rgba(236, 235, 235, 0.1);
}




