.main-container {

    background-color: rgb(42, 145, 241);
    width: 100%;
    
}
.driver-container {
    background-color: darkcyan;
    margin-left:200px;
   
}
.driver-container-hidden {
    background-color: darkcyan;
    visibility: hidden;
}