

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins';
}
.main-container {

    background-color: #303030;
    width: 100%;

}
.driver-container {
    display: flex;
    align-items: center;
    margin: 5px 5px;
    padding: 0 15px;
    
    background-color: rgba(0, 0, 0, .5);
    height:36px;

    color: #ffffff;
    

}
