
* {
  font-family:  'Poppins', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
:root {
  --hover-color:#EFF0F3;
}
:root:hover {
  background-color: #F5F6F8;
}
.shift-accordion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
  background-color:#ffffff;
}
.shift-accordion__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
 

} 
.shift-container {
  display: flex;
  background-color: #F5F6F8;
  color:#ffffff;
  height: 36px;
  margin: 1px;
  padding: 0px 10px 0px 0px;
  border-bottom: 1px solid;
   border-bottom-color: #e6e9ef;
   cursor: pointer;
  
}
.shift-container:hover {
  background-color: var(--hover-color);
}
.shift-container:hover .shift-container__subItems{
  background-color: var(--hover-color);
}
.shift-container:hover .shift-container__toggle-container{
  background-color: var(--hover-color);
}
.shift-container:hover .shift-container__caret {
  background-color: var(--hover-color);
}
.shift-container:hover .shift-container__shift {
  background-color: var(--hover-color);
  transform: translateX(24px);
  transition: 0.1s ;
  font-size: 1.2em;
  -webkit-transform: translateX(24px);
  -moz-transform: translateX(24px);
  -ms-transform: translateX(24px);
  -o-transform: translateX(24px);
  -webkit-transition: 0.1s ;
  -moz-transition: 0.1s ;
  -ms-transition: 0.1s ;
  -o-transition: 0.1s ;
}
.shift-container:hover .shift-container__caret{
  display: flex;
  background-color: var(--hover-color);
  width: 30px;
  max-width: 30px;
  height: 36px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: visible;
  
}
.shift-container__caret {
  display: flex;
  background-color:var(--hover-color);
  width: 30px;
  height: 36px;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: hidden;
}
.shift-container__caret-icon {
  color:#323338;
  background-color:#E6E9EF;
  border-radius: 3px;
  width:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.placeholder {
position: absolute;
width: 10px;
height: 36px;
z-index: 100;
background-color: #323338;
}
.shift-container__shift {
  display: flex;
  position: absolute;
  height: 36px;
  border-bottom: 1px solid #e6e9ef;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 200px;
  padding-left: 8px;
  z-index: 10;
  text-align: center;
}

.driver-shift-container {
  position: absolute;
  color: #ffffff;
  
  background-color: #323338;
  width:100%;
  height:auto;
}
.driver-shift-container-hidden {
  position: absolute;
  max-height:0 ;

  background-color: #323338;
  width:100%;
  height:auto;
}
.driver-shift-container-hidden {
  color: #323338;
  top: 100px;
  width:100%;
  height:auto;
  margin:75px 3px;
}

.shift-container__subItems {
  display: flex;
  border-bottom: 1px solid #e6e9ef;
  height: 36px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color:#323338;
  width: 200px;
  margin-left: 90px;
  text-align: center;
}
.shift-container__subItems:hover {
  background-color: var(--hover-color); 
}

.shift-container__toggle {
  display: flex;
  position: absolute;
  border-radius: 50%;
  left: 10px;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  background-color:rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.driver-container {
  background-color: darkcyan;
}
.driver-container-hidden {
  background-color: darkcyan;
  visibility: hidden;
}







