
* {
  font-family:  'Poppins', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
:root {
  --hover-color:#EFF0F3;
}
:root:hover {
  background-color: #F5F6F8;
}


.shift-accordion__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;


}

.shift-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F6F8;
  height: 36px;
  cursor: pointer;

}

.shift-container__shift {
height: auto;
}









