
* {
  font-family:  'Poppins', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
:root {
  --hover-color:#EFF0F3;
}
:root:hover {
  background-color: #F5F6F8;
}


.shift-accordion__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #042B4E;


}

.shift-container {
  display: flex;
  flex-direction: column;
  background-color: #042B4E;
  height: 100%;
  cursor: pointer;

}

.shift-container__shift {
height: 36px;
width: 100%;
color:#ffffff;
overflow: hidden;
}









