* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
.dry-load-container {
    display:flex;
    z-index: 1;
    height: 36px;
    margin: 1px;
    transform: 0.4s;
    -webkit-transform: 0.4s;
    -moz-transform: 0.4s;
    -ms-transform: 0.4s;
    -o-transform: 0.4s;
}
.store {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    margin:1px auto;
    padding:15px;
    color: #ffffff;
    background-color: rgb(35, 35, 36);
}
.label-container {
    display: flex;
    position: relative;
   align-items: center;
    padding-left: 10px;
    margin-top: 1px;
    padding:3px;
    height: 36px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(35, 35, 36);
  }
  .label-container:hover {
      background-color: rgb(35, 35, 36,0.8);
  }
 #checkbox {
     position: absolute;
     left:-999px;
 }
 /* .checkmark:hover {
     background-color: red;
 } */