* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.arrow-up {
    margin:10px 5px;
}

.arrow-container {
    margin: 7px 5px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.store {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: larger;
    padding-left: 30px;
    cursor: pointer;
}

.store-title {
    display:flex;
    z-index: 1;
    height: 36px;
    margin: 1px;
    color: #ffffff;
    background-color: #3C4B64;
    transform: 0.4s;
    -webkit-transform: 0.4s;
    -moz-transform: 0.4s;
    -ms-transform: 0.4s;
    -o-transform: 0.4s;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    color: #22fd05;
    background-color:#3C4B64;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    margin:0px auto;
    padding-left:5px;
    color: #ffffff;
    background-color: #3C4B64;
}
.load-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    margin:0px auto;
    padding-left: 15px;
    color: #22fd05;
    background-color: #3C4B64;
}
.load-header-hidden {
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    margin:0px auto;
    padding-left: 15px;
    color:#22fd05;
    background-color: #3C4B64;
}

.load-container-open {
    display: block;
    transition: 0.5s;
}
.load-container-hidden {
    
    display: none;
}
.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100%;
    margin:0px auto;
    padding:15px;
    color: #ffffff;
    background-color: #3C4B64;
}
.label-container {
    display: flex;
    position: relative;
   align-items: center;
    padding-left: 10px;
    margin-top: 1px;
    padding:3px;
    height: 36px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3C4B64;
  }

 #checkbox {
     position: absolute;
     left:-999px;
 }
 /* .checkmark:hover {
     background-color: red;
 } */

 .count-loads {
     background-color: #ffffff;
     color:black
 }