.whse-id-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    visibility: none;
}
.btn:focus {
    outline:0;

}
.btn:focus-visible {
    outline: 1px solid blue;

}
.menu-btn {
    border: none;
    outline: none;
    background: transparent;
    visibility: none;
    cursor: pointer;
    height: 75px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: x-large;
    font-family: sans-serif;
}
.menu-btn:focus-visible {
    outline:1px solid blue;
}
.close {
    margin: 10px 20px;
   margin-right: 0;
}
.hideClose {
   display: none;
}
.closeDiv {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.menu-nav {
    background-color: #ffffff;
    padding: 10px 15px;
}
.menu-items {
    margin: 3px 5px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: #c58f8f;
}
.dry-item {
    background-color: red;
    color: white;
}
.wet-item {
    background-color: #0771d4;
}
.icon {
    padding: 0;
    float: right;
    margin-left: 30px;
    color: #1a1b1f;

}
.icon:hover {
    float: right;
    visibility: visible;
    background-color:#305697;

}

/* .hideMenu {
    position: absolute;
    height: 600px;
    width: 600px;
    top: -999px;
    left: -999px;
    background-color: #0771d4;
    z-index: 10;
} */
.context-menu {
    position: fixed;
    top: 50%;
    left:50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
}
.choose-load {
    height: 90%;
    width: 90%;
    padding: 50px;
    margin: 2px;
}
.dry-load {
    background-color: red;
    color: #fff;
}
.wet-load {
    background-color: royalblue;
    color: #fff;
}
.wet-dry-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
}
.closeBtn {
align-self: flex-end;
margin-top: 5px;
margin-right: 5px;
height: 20px;
width: 20px;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}