.menu {
    position: absolute;
    height: auto;
    width: 300px;
    left: 800px;
    align-content: center;
    border:1px solid #eff4f8;
    background-color: #f1f6fa;
    z-index: 10;
    -webkit-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
}
.hideMenu {
        position: absolute;
        height: 600px;
        width: 600px;
        top: -999px;
        left: -999px;
        background-color: #0771d4;
        z-index: 10;
    }