/* dry Loads CSS*/
.whse-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    width:100%;
    
    flex-flow: wrap;
     background-color:#ffffff;
    
}
.unsrtd {
    margin: 0px 0px;
    background-color: #ffffff;
}
.hideLoadCount {
    position: absolute;
    left:-999px;
    
}
.whse-id__container {
     background-color: #ffffff;
     border-radius: 3px;
     border: #D8DBE0;
    width:auto;
    margin:5px 5px;
    padding:1px;
-webkit-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
box-shadow: 9px 10px 26px -21px rgba(0,0,0,0.75);
}
.whse-id__container:hover {
     background-color: #4e322b;
}
.whse-id {
    height: 25px;
    width:auto;
    padding: 1px 5px;
    margin: 1px 3px;
    font-weight: 500;
    font-size: large;
    text-align: center;
     background-color:#4984e9;
    color:#1a1b1f;
    cursor: pointer;

}
.whse-loadCount-container {
    display: flex;
}

/*wet loads CSS*/

.whse-container-wet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    width:100%;
    
    flex-flow: wrap;
    background-color:#ffffff;
    
}


.whse-count-dry {
    justify-content: center;
    text-align: center;
    height:25px;
    width:25px;
    font-size:larger; 
    color: white;
    cursor: pointer;
    margin: 1px 3px;
    background-color: rgb(246, 191, 191);
}
.whse-count-dry:hover {
    background-color: rgb(255, 55, 55);
}
.whse-count-wet {
    justify-content: center;
    text-align: center;
    height:25px;
    width:25px;
    font-size:larger;
    color: white;
    cursor: pointer;
    margin: 1px 3px;
    background-color: rgb(166, 212, 250);
}
.whse-count-wet:hover {
    background-color: rgb(6, 131, 233);
}
.whse-count-held {
    justify-content: center;
    text-align: center;
    height:25px;
    width:25px;
    font-size:larger;
    color: rgb(177, 169, 169);
    cursor: pointer;
    margin: 1px 3px;
    background-color: rgb(243, 242, 237);
}
.whse-count-held:hover {
    background-color: rgb(246, 219, 84);
}
